
.item-rieltor-obekt {

    max-height: 50vh;
    padding: 30px;
    border-radius: 30px;
    margin: 10px;
}

.item-rieltor-obekt img {

    min-height: 300px;
    max-height: 300px;
}

.item-rieltor-obekt h3 {

    margin-bottom: -65px;
    margin-left: -30px;
    position: relative;
    background: black;
    opacity: 0.8;
    border-radius: 30px;
    padding: 20px;
    width: 25vw;
    color: white;
}

.item-rieltor-obekt img:hover {

    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.img-rieltor-accaunt {
    width: 100%;
    height: 300px;
}
