<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Агенство нерухомості Житомир</title>
   <link rel="preconnect" href="https://fonts.gstatic.com">
   <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="./CSS/style.css">
   <!-- Link Swiper's CSS -->
   <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
</head>

<body>
   <div class="wrapper">
      <header class="header">
         <div class="container container__header">
            <div class="logo">
               <a href="./index.html" class="logo__link">
                  <div class="logo__image">
                     <img src="./Icons/logo-design.svg" alt="" class="logo__img">
                  </div>
               </a>
            </div>
            <nav class="header__nav">
               <ul class="nav__list">
                  <li class="nav__item">
                     <a href="index.html" class="nav__link">Каталог</a>
                  </li>
                  <li class="nav__item">
                     <a href="about.html" class="nav__link">Про нас</a>
                  </li>
                  <li class="nav__item">
                     <a href="index.html" class="nav__link">Послуги</a>
                  </li>
                  <li class="nav__item">
                     <a href="index.html" class="nav__link">Відгуки</a>
                  </li>
                  <li class="nav__item">
                     <a href="blog.html" class="nav__link">Блог</a>
                  </li>
                  <li class="nav__item">
                     <a href="contacts.html" class="nav__link">Контакти</a>
                  </li>
                  <li class="nav__item">
                     <a href="" class="nav__link nav__link--tel">+380970010001</a>
                  </li>
               </ul>
            </nav>
      </header>

      <section class="product">
         <div class="container ">
            <div class="button__back">
               <a href="" class="back__link">
                  <svg class="strelka-left-4" viewBox="0 0 100 85">
                     <polygon
                        points="58.263,0.056 100,41.85 58.263,83.641 30.662,83.641 62.438,51.866 0,51.866 0,31.611 62.213,31.611 30.605,0 58.263,0.056">
                     </polygon>
                  </svg>
                  <div class="button__link">Назад</div>
               </a>
            </div>
            <div class="breadcrumb__block">
               <ul class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">Каталог</a></li>
                  <li class="breadcrumb-item"><a href="#">Квартири</a></li>
                  <li class="breadcrumb-item active">Чуднівська, 108б</li>
               </ul>
            </div>
            <div class="product__main">
               <div class="product__photo">
                  <h3 class="title__product">Чуднівська, 108б (ID: 7777)</h3>
                  <div class="swiper-container">
                     <div class="swiper-wrapper">
                        <div class="swiper-slide">
                           <img src="./Icons/комерція.jpeg" alt="" class="slide__image">
                        </div>
                        <div class="swiper-slide">Slide 2</div>
                        <div class="swiper-slide">Slide 3</div>
                        <div class="swiper-slide">Slide 4</div>
                        <div class="swiper-slide">Slide 5</div>
                        <div class="swiper-slide">Slide 6</div>
                        <div class="swiper-slide">Slide 7</div>
                        <div class="swiper-slide">Slide 8</div>
                        <div class="swiper-slide">Slide 9</div>
                        <div class="swiper-slide">Slide 10</div>
                     </div>
                     <!-- Add Pagination -->
                     <div class="swiper-pagination"></div>
                     <!-- Add Arrows -->
                     <div class="swiper-button-next"></div>
                     <div class="swiper-button-prev"></div>
                  </div>
               </div>
               <div class="product__info">
                  <p class="product__info--prace">Ціна: 40 000$</p>
                  <ul class="product-filter__list">
                     <li class="product-filter__item">К-ть кімнат:</li>
                     <li class="product-filter__item">Поверх:</li>
                     <li class="product-filter__item">Площа:</li>
                     <li class="product-filter__item">Опалення:</li>
                     <li class="product-filter__item">Вулиця:</li>
                  </ul>
                  <div class="product__info--rieltor">
                     <h4 class="rieltor__title">Наталя Мелай</h4>
                     <p class="product__info--text">Експерт з нерухомості допоможе знайти вам найкращий варіант з нашої
                        бази нерухомості обєктів!
                        Отримайте безкоштовну консультацію за номером телефону:
                     </p>
                     <div class="rieltor__number">
                        <a href="tel:+3809700010000" class="rieltor__number--link-image">
                           <div class="phone">
                              <img src="./Icons/call.svg" alt="phone rieltor" class="phone--image">
                           </div>
                        </a>
                        <a href="tel:+3809700010000" class="rieltor__number--link-namber">+3809700010000
                        </a>
                     </div>
                  </div>
                  <div class="product__info--social">
                     <h5>Поділіться обьектом в соціальних мережах:</h5>
                     <ul class="social__list">
                        <a href="" class="social__item--link">
                           <div class="social__item">
                              <img src="./Icons/social__viber.svg" alt="social viber" class="social__item--image">
                           </div>
                        </a>
                        <a href="" class="social__item--link">
                           <div class="social__item">
                              <img src="./Icons/social__fb.svg" alt="social facebook" class="social__item--image">
                           </div>
                        </a>
                        <a href="" class="social__item--link">
                           <div class="social__item">
                              <img src="./Icons/social__telegram.svg" alt="social telegram" class="social__item--image">
                           </div>
                        </a>
                     </ul>
                  </div>
               </div>
            </div>
            <div class="product__info">
               <h4 class="product__info--title">Опис обьекта</h4>
               <p class="product__info--subtitle">Продаєтся квартира по вулиці Рильского. Історичний центр міста
                  Житомира! Можна розглядати квартиру як
                  для життя так і під комерційну нерухомість! Вид з вікон - на будинок Правосуддя, сквер! Велика
                  прохідність, поруч автопарковка, кафе, ресторани! Загальна площа квартири 100 кв.м, кухня - 10,
                  житлова - 50.
                  Посередників прошу не турбувати, дзвонити тільки після 18 години або пишіть на Viber у будь-який час!
               </p>
            </div>
            <div class="button__back">
               <a href="" class="back__link">
                  <svg class="strelka-left-4" viewBox="0 0 100 85">
                     <polygon
                        points="58.263,0.056 100,41.85 58.263,83.641 30.662,83.641 62.438,51.866 0,51.866 0,31.611 62.213,31.611 30.605,0 58.263,0.056">
                     </polygon>
                  </svg>
                  <div class="button__link">Повернутися до інших об'єктів</div>
               </a>
            </div>

         </div>
      </section>
      <section class="plus">
         <div class="container">
            <h3 class="plus__title">Чому нам довіряють?</h3>
            <div class="pluses__block--flex">
               <div class="pluses__block">
                  <div class="plus__block-title">
                     <div class="plus__img">
                        <img src="./Icons/free-icon-layers.svg" alt="" class="plus__image">
                     </div>
                     <h4 class="plus__subtitle">Досвід</h4>
                  </div>
                  <p class="plus__text">
                     За роки діяльності в сфері нерухомості ми отримали унікальний досвід роботи будь-якої складності,
                     що дає нам можливість задовольнити потреби найвибагливішого клієнта!
                  </p>
               </div>
               <div class="pluses__block">
                  <div class="plus__block-title">
                     <div class="plus__img">
                        <img src="./Icons/free-icon-layers.svg" alt="" class="plus__image">
                     </div>
                     <h4 class="plus__subtitle">Ексклюзивні об'єкти</h4>
                  </div>
                  <p class="plus__text">
                     Наша компанія постійно нараховує сотні ексклюзивних об'єктів
                     як в місті Житомирі так і Житомирському районі, власники яких довірили продаж тільки нам.
                  </p>
               </div>
               <div class="pluses__block">
                  <div class="plus__block-title">
                     <div class="plus__img">
                        <img src="./Icons/free-icon-layers.svg" alt="" class="plus__image">
                     </div>
                     <h4 class="plus__subtitle">Швидкість</h4>
                  </div>
                  <p class="plus__text">
                     Завдяки нашій роботі Ви зможете прискорити пошук нерухомості, покупців та швидко зареєструвати
                     угоду!
                  </p>
               </div>
               <div class="pluses__block">
                  <div class="plus__block-title">
                     <div class="plus__img">
                        <img src="./Icons/free-icon-layers.svg" alt="" class="plus__image">
                     </div>
                     <h4 class="plus__subtitle">Репутація</h4>
                  </div>
                  <p class="plus__text">
                     Подяки від клієнтів та очолення Житомирського регіонального відділення Асоціації фахівців з
                     нерухомості України - підтверджують нашу бездоганну репутацію.
                  </p>
               </div>

            </div>
         </div>
      </section>
      <footer class="footer">
         <div class="container">
            <div class="footer__block">
               <div class="footer__logo">
                  <div class="footer__image">
                     <img src="./Icons/logo-design.svg" alt="агенство нерухомості Житомир" class="footer__img">
                  </div>
               </div>
               <ul class="footer__contacts-list">
                  <a class="footer__link--adress" href="https://goo.gl/maps/9SruKiYB3DcwT1YJ6" target="_blank">
                     <li class="footer__item footer__item--adress">м. Житомир, вул. Леха Качинського, буд. 1, офіс 55
                     </li>
                  </a>
                  <a class="footer__link--mail" href="mailto:zt@agensy.com" target="_blank">
                     <li class="footer__item footer__item--mail">zt@agensy.com</li>
                  </a>
                  <a class="footer__link--tel" href="tel:+3809700010101">
                     <li class="footer__item footer__item--nomber">+3809700010101</li;>
                  </a>
                  <a class="footer__link--tel" href="tel:+3809700010101">
                     <li class="footer__item footer__item--nomber">+3809700010101</li;>
                  </a>
                  <li class="footer__item footer__item--social">
                     <a class="footer__link--social"
                        href="https://www.facebook.com/%D0%90%D0%9D-%D0%96%D0%B8%D1%82%D0%BE%D0%BC%D0%B8%D1%80-597840607255306/"
                        target="_blank">
                  <li class="footer__item social__image">
                     <img src="./Icons/svg__fb.svg" alt="" class="social__img">
                  </li>
                  </a>
                  </li>
               </ul>
               <ul class="footer__catalog-list">
                  <a href="./index.html" class="footer__link">Головна</a>
                  <a href="./index.html" class="footer__link">Про нас</a>
                  <a href="./index.html" class="footer__link">Наші послуги</a>
                  <a href="./index.html" class="footer__link">Блог</a>
                  <a href="./index.html" class="footer__link">Контакти</a>
               </ul>
               <ul class="footer__info-list">
                  <a href="./index.html" class="footer__link">Каталог</a>
                  <a href="./index.html" class="footer__link">Квартири</a>
                  <a href="./index.html" class="footer__link">Приватний сектор</a>
                  <a href="./index.html" class="footer__link">Земельні ділянки</a>
                  <a href="./index.html" class="footer__link">Комерційна нерухомість</a>
               </ul>
            </div>
         </div>
      </footer>
   </div>

   <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
   <script src="./js/script.js"></script>
</body>

</html>